* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Passager;
  src: url(../../../fonts/passager.ttf);
}
.home-wrapper {
  width: 100%;
  height: 100vh;
  // margin-top: 40px;
  overflow: hidden;
  background: url(../../../assets/images/home_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
  .home-container {
    height: 100%;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    .home-content {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 800px) {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
      .home-socials {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 20px 50px;
        gap: 20px;
        @media screen and (max-width: 800px) {
          padding: 20px 10px;
          bottom: 40px;
        }
        &::before {
          background: #f4e9cd;
          content: "";
          width: 1px;
          height: 90px;
          margin: 0px auto;
        }
        img {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
      .home-left {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 800px) {
          align-items: center;
        }
        .home-resume-btn {
          width: 250px;
          color: #77aca2;
          background-color: transparent;
          border: 1px solid #77aca2;
          border-radius: 4px;
          padding: 1.25rem 1.75rem;
          font-size: 14px;
          font-family: Inter;
          line-height: 1;
          text-decoration: none;
          cursor: pointer;
          transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
          margin-top: 50px;
          &:hover {
            background: #77aca236;
          }
        }
        h1 {
          font-size: 18px;
          font-weight: 800;
          @media screen and (max-width: 800px) {
            font-size: 14px;
            text-align: center;
          }
          span {
            font-family: Passager;
            font-size: clamp(40px, 8vw, 72px);
            font-weight: 600;
            line-height: 150%;
          }
        }
        h3 {
          font-size: 48px;
          font-weight: 600;
          line-height: 150%;
          opacity: 0.8;
          @media screen and (max-width: 800px) {
            font-size: 1.5rem;
            text-align: center;
          }
          span {
            opacity: 0.3;
          }
        }
        p {
          font-size: 48px;
          font-weight: 600;
          line-height: 150%;
        }
      }
      .home-right {
        img {
          object-fit: cover;
          border-radius: 100%;

          @media screen and (max-width: 800px) {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }
}
